<h1>Editing Organisation</h1>

<%= render 'form', organisation: @organisation %>
<br/>
<%= link_to 'Show', @organisation, class:"btn btn-dark" %> |
<%= link_to 'Back', organisations_path, class:"btn btn-light" %>
